.slide{
  width: 100vw;
  height: 100vh;
}
.wrapper{
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.outer-wrapper{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}
::-webkit-scrollbar{
  width: 0 !important;
  display: none;
}



/* font */
@font-face {
  font-family: MonumentUB;
  src: url(../../assets/font/MonumentExtended-Regular.otf);
}




/* Card */
.w3-card-4{
  box-shadow:0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  font-family: MonumentUB;
}



.w3-container{
  padding:0.01em 16px;
}

.cardR{
  padding-left: 0 !important;
  padding-right: 0 !important;
  --bs-gutter-x : 0 !important;
  background-image: url("../../assets/img/RC_Homepage_Bg.jpg") !important;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
}

.rotated {
transform: rotate(-2deg); /* Equal to rotateZ(45deg) */
}

.rotated2 {
transform: rotate(2deg); /* Equal to rotateZ(45deg) */
}

/* Social Link */
.fa2 {
  padding: 8px;
  font-size: 20px;
  width: 30px;
  text-align: center !important;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #f4b318;
  color: white;
}

.fa-linkedin {
  background: #f4b318;
  color: white;
}

.fa-instagram {
  background: #f4b318;
  color: white;
}

/* section 3 */

.rch3{
  font-family: MonumentUB;
  color:#4b4b4b;
  display: inline-block;
	text-align: left;

}
.s3Sp {
  width: 63%;
  height: 17% !important;
  display:inline-block;
  background-color: #f4b318;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-right: 2px;
  border-radius: 25px;
  color: white !important;
  font-size: small;
  text-decoration: none;
  }
