<div class="outer-wrapper">
  <div class="wrapper">
    <div class="slide one">
<div class="row cardR">
  <!--card 1  -->
  <div
    class="w3-card-4 rotated"
    style="width: 30%; height: 40%; margin-top: 90px; margin-left: 200px"
  >
    <img
      src="../../assets/img/img_snowtops.jpg"
      alt="Alps"
      style="width: 100%"
    />
    <div class="w3-container w3-center">
      <p style="text-align: center; margin-top: 6px; margin-bottom: 2px">
        TRAINING
      </p>
    </div>
  </div>
  <!-- card 2 -->
  <div
    class="w3-card-4 rotated2"
    style="width: 92%; max-width: 300px; margin-left: 18%; margin-top: 1%"
  >
    <img
    src="../../assets/img/img_snowtops.jpg"
      alt="Alps"
      style="width: 100%; height: 90%"
    />
    <div class="w3-container w3-center">
      <p style="text-align: center; margin-top: 6px; margin-bottom: 2px">
        APP DEVELOPMENT
      </p>
    </div>
  </div>
</div>

</div>


<!-- section 2 -->

  <div class="slide two">
<div class="row cardR">
<!--card 1  -->
<div
  class="w3-card-4 rotated"
  style="width: 30%; height: 40%; margin-top: 90px; margin-left: 200px"
>
  <img
  src="../../assets/img/img_snowtops.jpg"
    alt="Alps"
    style="width: 100%"
  />
  <div class="w3-container w3-center">
    <p style="text-align: center; margin-top: 6px; margin-bottom: 2px">
      TRAINING
    </p>
  </div>
</div>
<!-- card 2 -->
<div
  class="w3-card-4 rotated2"
  style="width: 92%; max-width: 300px; margin-left: 18%; margin-top: 1%"
>
  <img
  src="../../assets/img/img_snowtops.jpg"
    alt="Alps"
    style="width: 100%; height: 90%"
  />
  <div class="w3-container w3-center">
    <p style="text-align: center; margin-top: 6px; margin-bottom: 2px">
      APP DEVELOPMENT
    </p>
  </div>
</div>
</div>

</div>

</div>
</div>


<!-- Social Link -->
<a href="#" class="fa fa2 fa-facebook" style="margin-left: 30px"></a>
<a href="#" class="fa fa2 fa-instagram" style="margin-left: 20px"></a>
<a href="#" class="fa fa2 fa-linkedin" style="margin-left: 20px"></a>

